-var social = ['fa-linkedin-in', 'fa-github-alt', 'fa-tumblr', 'fa-vk']
-
  var skills = [
    {
      "number": 12,
      "text": "Возраст начала занятий на скрипке"
    },
    {
      "number": 76,
      "text": "Концертов отыграл"
    },
    {
      "number": 30,
      "text": "Максимальное число городов в туре"
    },
    {
      "number": 20,
      "text": "Лет на сцене в качестве скрипача"
    }
  ]
